---
name: Fedora Copr build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  # schedule:
  #   # This always runs against the default branch.  Two runs per month.
  #   - cron: '0 0 1,16 * *'

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    name: RPM package
    strategy:
      matrix:
        package:
          - riscv64-linux-gnu-gdb

    steps:
      - name: Check out proper version of sources
        uses: actions/checkout@v3

      - name: Copr build ${{ matrix.package }}
        env:
          COPR_PR_WEBHOOK: https://copr.fedorainfracloud.org/webhooks/github/112270/aa50bb52-ed0a-49a4-b9b0-cedfb9815999/${{ matrix.package }}/
          COPR_PUSH_WEBHOOK: ${{ secrets.COPR_PUSH_WEBHOOK }}/${{ matrix.package }}/
        run: |
          curl https://raw.githubusercontent.com/praiskup/copr-ci-tooling/main/copr-gh-actions-submit > submit
          bash submit ${{ github.event.pull_request.number }}
